

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --font-family-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  --font-family-content: "Inter", sans-serif;


  --light-background-color: cadetblue;
  --dark-background-color: rgb(33, 115, 118);
  --light-red-background-color: rgb(33, 115, 118);
  --light-green-background-color: rgb(33, 115, 118);
  --light-code-screen-background-color: rgb(33, 115, 118);
  --body-background-color: bisque;


}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--body-background-color);  
}