.card {
  border: 5px solid;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 50px;
  text-align: center;
  background-color: var(--light-background-color-light);
  color: var(--color-light-text);
  width: 30%;
}
