.list-container {
  list-style: none;
  padding: 0;
}

.list-container .link {
  display: block;
  width: inherit;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px var(--color-light-border);
  border-radius: 5px;
  text-decoration: none;
  color: var(--color-light-text);
  font-weight: 800;
  background-color: var(--dark-background-color-dark);
  font-family: var(--font-family-lobby);
}

.list-container .link:hover {
  background-color: var(--background-color-light-code-screen);
  color: black;
  font-weight: 800;
}
