.multipleCodesContainer {
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 105%;
  display: inline;
}

.codeBlockContainer {
  width: 580px;
  height: 570px;
  background: var(--background-color-light-code-screen);
  resize: none;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 0 20px var(--box-shadow-color);
}

.highlightedCode,
.textCode {
  /* font-family: var(--font-family-code); */
  font-family: var(--font-family-code);
  font-size: 14px;
  line-height: 1.5;
  padding: 15px;
}

.highlightedCode {
  position: absolute;
  width: 550px;
  height: 530px;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.textCode {
  width: 550px;
  height: 540px;
  position: absolute;
  background: transparent;
  color: transparent;
  border: none;
  resize: none;
  caret-color: black;
  overflow-y: auto;
}

pre {
  margin: 0;
}

.codeTitle {
  /* position: relative;
  left: 40%; */
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  color: var(--dark-background-color-dark);
}

.solution,
.submittedCorrectly {
  background-color: var(--background-color-light-green);
}

.submittedIncorrectly {
  background-color: var(--background-color-light-red);
}

.submissionButton {
  background-color: var(--light-background-color-light);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 800;
}

.submissionButton:hover {
  background-color: var(--dark-background-color-dark);
}

.centeredButtonContainer {
  display: flex;
  justify-content: center;
}

.greeting {
  color: var(--dark-background-color-dark);
}

.divider {
  margin-top: 30px;
  border-top: 3px solid var(--color-divider-border);
  width: 650px;
}

.titleHeaders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 70%;
  margin: auto;
}

.backToLobby {
  display: block;
  text-align: center;
  padding: 15px 20px;
  border: 1px var(--color-light-border);
  border-radius: 10px;
  color: var(--color-light-text);
  font-weight: 800;
  font-size: medium;
  background-color: var(--dark-background-color-dark);
}

.backToLobby:hover {
  background-color: var(--light-background-color-light);
  color: var(--color-light-text);
  font-weight: 800;
}
