.multipleCodesContainer {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 105%;
  display: inline;
}

.codeBlockContainer {
  width: 580px;
  height: 570px;
  background: #f0f0f0;
  resize: none;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(24, 22, 142, 0.401);
}

.highlightedCode,
.textCode {
  /* font-family: var(--font-family-code); */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 15px;
}

.highlightedCode {
  position: absolute;
  width: 550px;
  height: 530px;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.textCode {
  width: 550px;
  height: 540px;
  position: absolute;
  background: transparent;
  color: transparent;
  border: none;
  resize: none;
  caret-color: black;
  overflow-y: auto;
}

pre {
  margin: 0;
}

.codeTitle {
  /* position: relative;
  left: 40%; */
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  color: rgb(33, 115, 118);
}

.solution,
.submittedCorrectly {
  background-color: #ccf6d5;
}

.submittedIncorrectly {
  background-color: #f6cccc;
}

.submissionButton {
  background-color: cadetblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 800;
}

.submissionButton:hover {
  background-color: rgb(33, 115, 118);
}

.centeredButtonContainer {
  display: flex;
  justify-content: center;
}

.greeting {
  color: rgb(33, 115, 118);
}

.divider {
  margin-top: 30px;
  border-top: 3px solid #bbb;
  width: 650px;
}

/*  */

.titleHeaders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 70%;
  margin: auto;
}

.backToLobby {
  display: block;
  text-align: center;
  padding: 15px 20px;
  border: 1px #ccc;
  border-radius: 10px;
  color: antiquewhite;
  font-weight: 800;
  font-size: medium;
  background-color: rgb(33, 115, 118);
}

.backToLobby:hover {
  background-color: cadetblue;
  color: antiquewhite;
  font-weight: 800;
}
